.max-freight {
    position: relative;
}
.max-freight:after {
    content: "";
    background: url(https://image.ibb.co/neCzga/Screen_Shot_2017_08_15_at_5_28_35_pm.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
    position: absolute;
    top: 0;
}