.item .wrapper-hover > a {
    overflow: visible;
}
.optContainer {
    position: absolute;
    left: -6px;
    background-color: #323232;
    padding: 10px 0 10px 18px;
    width: 95%;
    height: 58px;
    color: white;
    z-index: 9999;
    text-align: left;
    bottom: -10px;
    -webkit-box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.48);
    border-radius: 0 5px 5px 0;
}
.optContainer * {
    margin: 0;
    padding: 0;
    line-height: initial;
}

.optContainer:before {
 	width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #323232 transparent transparent;
    content: "";
    position: absolute;
    bottom:-6px;
    left: 0px;
}
.optBoldWhite {
    font-size: 16px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.optThinWhite {
    font-size: 14px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif; 
}

.optContainer:after {
	position: absolute;
    width: 38px;
    height: 56px;
    background: url('//placehold.it/28x47');
    right: 20px;
    top: 1px;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
}