.item .wrapper-hover > a {
    overflow: visible;
}
.optContainer {
    position: absolute;
    left: -6px;
    background-color: #323232;
    padding: 10px 0 10px 18px;
    width: 100%;
    height: 58px;
    max-width: 240px;
    color: white;
    z-index: 9999;
    text-align: left;
    bottom: -10px;
    -webkit-box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.48);
}
.optContainer * {
    margin: 0;
    padding: 0;
    line-height: initial;
}
.optContainer:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 29px 0 29px 40px;
    border-color: transparent transparent transparent #323232;
}

.optContainer:before {
 	width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #323232 transparent transparent;
    content: "";
    position: absolute;
    bottom:-6px;
    left: 0px;
}
.optBoldWhite {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.optThinWhite {
    font-size: 14px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif; 
}