/* Variation 2 */

.opt-62-2 #legacy-menu.row > .col-sm-12 {
    width: 110%;
    margin-left: -2%;
}

.opt-62-2 .optBundle {
    background: #d71d1d url(https://www.4wdsupacentre.com.au/skin/frontend/supacentre-responsive/default/images/block-title.gif) repeat-x center top;
}

.opt62-2 .optBundle a:hover {
    background: none !important;
}

/* Variation 3 */
.opt62-3 .main-container {
    padding-top: 20px;
}

.opt62-3 .optBundleBanner {
    background: #d71d1d url(https://www.4wdsupacentre.com.au/skin/frontend/supacentre-responsive/default/images/block-title.gif) repeat-x center top;
    padding: 13px 18px 13px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: normal;
    width: 72%;
    float: right;
    margin-right: 13px;
    margin-bottom: 20px;
    text-align: center;
}

.opt62-3 .optBundleBanner a{
    color: white;
}

@media (max-width: 1199px) {
    .opt62-3 .optBundleBanner {
        width: 71%;
        margin-right: 15px;
    }
}

@media (max-width: 991px){
    .opt62-3 .optBundleBanner {
        width: 100%;
        margin-right: 0;
    }
}