.opt76 .optWide {
    width: 80%;   
}

.opt76 .products-grid .product-shop {
    padding: 0;   
}

.opt76 .optWide span {
    width: 100%; 
}

.opt76 span.only-text {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 0 5px!important;
}

.opt76 span.strike {
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
}

.opt76 .price-box {
    width: auto;   
    margin: 0 5px;
}

.opt76 span.price {
    font-size: 20px;
    font-weight: bold;
    display: inline;
}

.opt76 .product-shop .dont-pay-more {
    font-size: 16px;   
}

.opt76 .product-shop h3 {
    display: inline;
    font-size: 12px;
    margin: 0 !important;
}

.opt76 .product-shop .row {
    margin-top: 15px;   
}

.opt76 .product-shop .optRow {
    width: 100%;
    text-align: center;
    display: inline;
    margin: 0 !important;
}

.opt76 .product-shop .optRow div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-left: 4px;
    margin: 0;
    margin-top: 10px;
}

.opt76 .product-shop .optRow span {
    width: auto;
    padding: 0;
    margin: 0;
}

@media(max-width: 767px) {
    .opt76 .optWide {
        width: 60%;   
    }
}