#sticky-btn {
    padding: 100px 0 0 0;
}

/*Pic*/
#sticky-btn .tbl-cell:nth-child(2){
   padding: 0;
   margin: 10px 10px; 
}

#sticky-btn .sticky-thumb {
    margin: 10px 0; 
   padding: 0;
}

/*Item Name*/
#sticky-btn .tbl-cell:nth-child(3){
   margin: 0;
}

/*Button*/
#sticky-btn .tbl-cell:nth-child(4){
   background-color: yellow;
   padding: 0 10px;
   font-size: 24px;
}

#sticky-btn .tbl-cell:nth-child(4) span{
   color: black;
   font-weight: 900;
   width: 100%;
   height: 100%;
   vertical-align: middle;
}

@media screen and (min-width: 768px) {
   #sticky-btn {
       padding: 0;
       margin: 0 auto;
       border-right: solid #babab2 1px;
       border-left: solid #babab2 1px;
   } 
   
   /*Button*/
   #sticky-btn .tbl-cell:nth-child(4){
       background-color: yellow;
       padding: 0 10px;
       padding-right: 10%;
   }

   #sticky-btn .tbl-cell:nth-child(4) form{
       margin-left: 40px;
   }
   
   #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 0;
       height: 100%;
   }
    
	#sticky-btn .tbl-cell:nth-child(1) {
        background-color: white;
    }
    
    #sticky-btn .tbl-cell:nth-child(5) {
        background-color: yellow;
    }
}


@media screen and (min-width: 1200px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 5%;
       height: 100%;
   }
}

@media screen and (min-width: 1450px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 15%;
       height: 100%;
   }
}

@media screen and (min-width: 2000px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 20%;
       height: 100%;
   }
}

@media screen and (min-width: 2600px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 30%;
       height: 100%;
   }
}

@media screen and (min-width: 3400px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 32%;
       height: 100%;
   }
}