#sticky-btn {
    padding: 100px 0 0 0;
}

/*Pic*/
#sticky-btn .tbl-cell:nth-child(2){
   padding: 0;
   margin: 10px 10px; 
}

#sticky-btn .sticky-thumb {
    margin: 10px 0; 
   padding: 0;
}

/*Item Name*/
#sticky-btn .tbl-cell:nth-child(3){
   margin: 0;

}

/*Button*/
#sticky-btn .tbl-cell:nth-child(4){
   padding: 0 10px;
}

@media screen and (min-width: 768px) {
   #sticky-btn {
       padding: 0;
       margin: 0 auto;
       border-right: solid #babab2 1px;
       border-left: solid #babab2 1px;
   } 
   
   /*Button*/
   
   #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 20%;
       height: 100%;
   }
    
    /*Text*/
    #sticky-btn .tbl-cell:nth-child(3){
       margin: 0;
    	font-size: 1.35em
    }
    
    #sticky-btn .tbl-cell:nth-child(3) span{  
   		font-weight: 900;
    }
    
    /*Side padding*/
	#sticky-btn .tbl-cell:nth-child(1) {
        background-color: white;
    }
    
    #sticky-btn .tbl-cell:nth-child(5) {
        background-color: white;
    }
    
}


@media screen and (min-width: 1200px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 25%;
       height: 100%;
   }
}

@media screen and (min-width: 1450px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 30%;
       height: 100%;
   }
}

@media screen and (min-width: 2000px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 35%;
       height: 100%;
   }
}

@media screen and (min-width: 2600px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 40%;
       height: 100%;
   }
}