#sticky-btn {
    padding: 100px 0 0 0;
}

/*Pic*/
#sticky-btn .tbl-cell:nth-child(2){
   padding: 0;
   margin: 10px 10px; 
}

#sticky-btn .sticky-thumb {
    margin: 10px 0; 
   padding: 0;
}

/*Item Name*/
#sticky-btn .tbl-cell:nth-child(3){
   margin: 0;

}

/*Button*/
#sticky-btn .tbl-cell:nth-child(4){
   padding: 0 10px;
    position: relative;
}

/*Cross*/
#sticky-btn .close-btn {
	color: red;
    height: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 20px;
}

#sticky-btn .close-btn .texts {
    text-decoration :underline;
}

#sticky-btn .cross {
    position: relative;
    width: 15px;
    height: 15px;
    opacity: 1;
  }

  #sticky-btn .cross:hover {
    opacity: .8;
  }
  
  #sticky-btn .cross:before,#sticky-btn .cross:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 15px;
    width: 4px;
    background-color: red;
  }
  
  #sticky-btn .cross:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #sticky-btn .cross:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  

@media screen and (min-width: 768px) {
   #sticky-btn {
       padding: 0;
       margin: 0 auto;
       border-right: solid #babab2 1px;
       border-left: solid #babab2 1px;
   } 
   
    
    /*Cross*/
    #sticky-btn .close-btn {
        color: red;
        height: 25px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    #sticky-btn .cross {
        position: relative;
        width: 25px;
        height: 25px;
        opacity: 1;
  	}

  #sticky-btn .cross:hover {
    opacity: .8;
  }
  
  #sticky-btn .cross:before,#sticky-btn .cross:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 6px;
    background-color: red;
  }
  
  #sticky-btn .cross:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #sticky-btn .cross:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
   
    /*Button*/
    #sticky-btn .tbl-cell:nth-child(4){
        position: static;
    }
   
   #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 20%;
       height: 100%;
   }
    
    /*Text*/
    #sticky-btn .tbl-cell:nth-child(3){
       margin: 0;
    	font-size: 1.35em
    }
    
    #sticky-btn .tbl-cell:nth-child(3) span{  
   		font-weight: 900;
    }
    
    /*Side padding*/
	#sticky-btn .tbl-cell:nth-child(1) {
        background-color: white;
    }
    
    #sticky-btn .tbl-cell:nth-child(5) {
        background-color: white;
    }
    
}


@media screen and (min-width: 1200px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 25%;
       height: 100%;
   }
}

@media screen and (min-width: 1450px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 30%;
       height: 100%;
   }
}

@media screen and (min-width: 2000px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 35%;
       height: 100%;
   }
}

@media screen and (min-width: 2600px) {
      #sticky-btn .tbl-cell:nth-child(1), #sticky-btn .tbl-cell:nth-child(5) {
       width: 40%;
       height: 100%;
   }
}