.swipe-menu .sf-menu-block {
    margin: 0;
}

.swipe-menu .menu-icon-style {
    border-radius: 0;
}

.swipe-menu .sf-menu-phone {
    padding-bottom: 0;
    background: #323232;
    position: static;
    border-bottom: 1px solid #232323
}

.swipe-menu .sf-menu-phone > li > a {
    color: white !important;
}

.swipe-menu .sf-menu-phone li.active > a {
    color: white !important;
}

.ind .swipe {
    width: calc(100% - 20px);
}

.swipe-menu .sf-menu-phone li li {
    font-weight: initial;
    font-size: 12px;
}

.swipe-menu .sf-menu-phone > li li,
.swipe-menu .sf-menu-phone > li > ul > li > ul{
    border-color: #282828;
}

.swipe-menu .sf-menu-phone ul {
    padding: 0px 12px 0px;
}

.swipe-menu .sf-menu-phone li strong:before {
    font-size: 12px;
    color: #d1d1d1;
}

.swipe-menu .sf-menu-phone > li > a {
    font-size: 14px;
}