@media (max-width: 991px) {
    .invisible {
       display: none;
   }
    
    .opt4-v1 .sf-menu-phone {
        z-index: 999 !important;
    }

   .header {
       padding-top: 15px;
   }

   .header .logo,
   .header .king {
       margin-top: 0;
       margin-bottom: 0;
   }

   .opt-title h1 {
       color: #333 !important;
       text-align: left;
       margin-top: 8px;
   }

   .opt-review {
       padding-top: 0;
       padding-bottom: 0;
   }

   .opt-review a,
   .opt-review a:hover,
   .opt-review a:active,
   .opt-review a:focus,
   .opt-review a:visited {
       color: #333;
   }
    
    .opt-review .rating {
        margin-bottom: 12px;
    }
    
    .opt-sliders {
        width: auto !important;
    }
    
    .opt-dontPayMore,
    .opt-priceBox {
        text-align: left !important;
    }
    
    .opt-onlyText {
        color: #d80000;
    }
    
    .opt-compareSaving {
       padding: 8px 10px !important;
       font-size: 16px;
       white-space: nowrap;
       align-self: flex-end;
    } 
    
    .opt-priceBox {
       display: flex !important;
       margin-bottom: 0 !important;
       flex-wrap: nowrap;
       justify-content: space-between; 
    }
    
    .opt-maxFreight {
        margin-left: 0 !important;
       display: block !important;
       text-align: left;
    }
    
    .opt-price {
        display: flex !important;
        flex-wrap: wrap;
    }
    
    .product-shop .price-marketing {
        margin-bottom: 18px;
    }
    
    .opt-addTo {
        display: flex;
       margin-bottom: 20px;
    }
    
    .add-to-cart .zip {
        margin-top: 0 !important;
    }
    
    .opt-qtyBlock {
        white-space: nowrap;
    }
    
    .opt-productZip {
        width: 100%;
    }
    
    .opt-productZip .zippaybuynow {
        border-radius: 3px;
        border: 1px solid #AAAAAA;
        width: 100%;
    }
    
    .opt-buttonAddToCart {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    
    .opt-buttonAddToCart > span {
       width: 100%;   
    }
    
    .opt-buttonAddToCart span span {
        float: initial !important;
    }
    
    .opt-addTo div:nth-child(1) {
        margin-right: 8px;
    }
    
    .opt-addToCart {
        border-top: none;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0 !important;
    }
    
    .opt-zip {
       display: flex;
       flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
    }
    
    .opt-zip button.phone {
        margin-left: 12px !important;
    } 
    
    .opt-zip button > span {
        font-size: 14px !important;
    }
    
    .opt-zip button > span span {
        padding: 0 24px !important;
    }
    
    .opt-zip .moneyback {
        order: 3;
        flex-grow: 1;
        margin-top: 8px;
        width: 100%;
    }
    
    .opt-productOptions {
        border: none;
       margin: 16px 0 26px;
       padding: 0px;
    }
    
    .opt-productOptionsBottom {
        margin: 0;
       padding: 0 !important;
       border: none !important;
        margin-bottom: 0 !important;
    }
}