.opt74 .product-view .product-shop .price-box .price {
    font-weight: 900;  
    border-bottom: 3px #d80000 solid;
}

.opt74 .product-view .product-shop .price-box {
    display: flex;
    justify-content:center;
    align-items: center;
}