.opt74 .product-view .product-shop .price-box .price {
    font-weight: 900;
    margin: 10px 0;
}

.opt74 .product-view .product-shop .price-box {
    display: flex;
    justify-content:center;
    align-items: center;
}

.opt74 .optSlash {
    text-decoration: line-through;   
    font-weight: 400;
}

.opt74 .dont-pay-more .strike {
    display: none;   
}

.opt74 .product-shop .comparesaving {
    display: none;
}

.opt74 .product-shop .add-to-cart .comparesaving {
    font-size: 15px;
    float: left;
    margin: 4px auto 4px 8%;
    height: 30px;
    line-height: 28px;
    font-weight: bolder; 
    display: block;
}

@media (max-width: 770px) {
    .opt74 .product-shop .comparesaving {
        font-size: 17px;
        margin: auto;
        height: 30px;
        line-height: 28px;
        font-weight: bolder;
        width: 90px;
        display: block;
    }

    .opt74 .product-shop .add-to-cart .comparesaving {
        display: none;
    }
}