.opt33 .logo {
	display: flex;
   justify-content: space-between;
   align-items: center;  
}

.opt33 .optMobileImage {
   display: none;
   height: 45px !important;
   margin-right: -15px;
}

.opt33 .guarantee img, .opt33 .guarantee {
	width: 100%;   
	max-width: 300px;
}

.optFlex {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}
@media (max-width: 1200px) {
	.opt33 .guarantee img, .opt33 .guarantee {
		max-width: 250px;
	}
	.opt33 .guarantee {
		margin-right: 0px;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {

	.opt33 .hidden-sm.hidden-md {
		display: block !important;
	}

	.optFlex {
		justify-content: initial;
	}
}

@media (max-width: 767px) {
	.opt33 .optMobileImage  {
	   display: block;
   }

   .optFlex {
	   display: initial;
   }
}