.opt7 .optGrey span {
    color: black !important;
}

.opt7 .optGrey > span {
    border-color: white;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,8e8e8e+73 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(142,142,142,1) 73%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(142,142,142,1) 73%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(142,142,142,1) 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8e8e8e',GradientType=0 ); /* IE6-9 */
}

.opt7 .optGrey:hover span {
    border-color: white !important;
    background-position: initial !important;
}

@media (max-width: 767px) {
    .opt7 .cart .data-table tfoot button.button.optGrey {
        width: 50%;
    }

    .opt7 .cart .data-table tfoot button.button.optGrey span {
        width: 100%;
    }
}